[submodule "Lab 12 Object Detection"]
	path = Lab 12 Object Detection
	url = https://github.com/davidjaw/Domain-adaptation-object-detection-with-YOLOv8
[submodule "Lab 17 Diffusion Model"]
	path = Lab 17 Diffusion Model
	url = https://github.com/davidjaw/Diffusion-Models-pytorch
